.cta {
  background: var(--primary);
}

.cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  max-width: 1280px;
  padding: 82px 24px;
  margin: 0 auto;
}

.cta__title,
.cta__subtitle {
  color: var(--white);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .cta__title,
  .cta__subtitle {
    max-width: 75%;
    margin: 0 auto;
  }

  .cta__btn {
    width: max-content;
    margin: 0 auto;
  }
}
