.cta {
  background: var(--primary);
}

.cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  max-width: 1280px;
  padding: 46px 24px;
  margin: 0 auto;
}

.cta__title,
.cta__subtitle {
  color: var(--white);
}

.cta__title {
  text-align: center;
}

.cta__subtitle {
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .cta__title,
  .cta__subtitle {
    text-align: center;
    max-width: 50%;
    margin: 0 auto;
  }

  .cta__btn {
    width: max-content;
    margin: 0 auto;
  }
}
