.pattern_about_cabinet {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 1280px;
  padding: 100px 24px;
  margin: 0 auto;
}

.pattern_about_cabinet__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}

.pattern_about_cabinet__header_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.pattern_about_cabinet__title {
  color: var(--primary);
  text-transform: uppercase;
  font-family: var(--font-body);
  font-size: 20px;
  font-weight: 600;
}

.pattern_about_cabinet__subtitle {
  position: relative;
}

.pattern_about_cabinet__subtitle::after {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 100px;
  height: 5px;
  background-color: var(--primary-75);
}

.pattern_about_cabinet__intro {
  text-align: justify;
}

@media screen and (min-width: 900px) {
  .pattern_about_cabinet__subtitle {
    width: 75%;
  }

  .pattern_about_cabinet__intro {
    max-width: 85%;
    margin: 0 auto;
  }
}
