.editor-styles-wrapper .cta {
  background: var(--primary);
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.editor-styles-wrapper .cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  max-width: 1280px;
  padding: 82px 24px;
  margin: 0 auto;
}

.editor-styles-wrapper .cta__title,
.editor-styles-wrapper .cta__subtitle {
  color: var(--white);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .editor-styles-wrapper .cta__title,
  .editor-styles-wrapper .cta__subtitle {
    max-width: 75%;
    margin: 0 auto;
  }

  .editor-styles-wrapper .cta__btn {
    width: max-content;
    margin: 0 auto;
  }
}
